<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>601501615539-upjvsvtloq8unvvelngugjlgb5hsoakf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601501615539-upjvsvtloq8unvvelngugjlgb5hsoakf</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ2xDUHu7hE8hB5CWp0ViPktZpTN_y6eg</string>
	<key>GCM_SENDER_ID</key>
	<string>601501615539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.tejasd.busbuddy</string>
	<key>PROJECT_ID</key>
	<string>bus-buddy-c7efb</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-buddy-c7efb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:601501615539:ios:54ca7a467d631dc9</string>
	<key>DATABASE_URL</key>
	<string>https://bus-buddy-c7efb.firebaseio.com</string>
</dict>
</plist>